# templates/app-deployment.yaml

apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app
          image: "yvesmolina/sample-app:1.0.2"
          ports:
            - containerPort: {{ .Values.app.ports.http }}
          env:
            - name: APP_DEBUG
              value: "{{ .Values.app.env.APP_DEBUG }}"
            - name: APP_ENV
              value: "{{ .Values.app.env.APP_ENV }}"
            - name: APP_KEY
              value: "{{ .Values.app.env.APP_KEY }}"
            - name: DB_CONNECTION
              value: "{{ .Values.app.env.DB_CONNECTION }}"
            - name: DB_HOST
              value: "{{ .Values.app.env.DB_HOST }}"
            - name: DB_PORT
              value: "{{ .Values.app.env.DB_PORT }}"
            - name: DB_DATABASE
              value: "{{ .Values.app.env.DB_DATABASE }}"
            - name: DB_USERNAME
              value: "{{ .Values.app.env.DB_USERNAME }}"
            - name: DB_PASSWORD
              value: "{{ .Values.app.env.DB_PASSWORD }}"
          lifecycle:
            postStart:
              exec:
                command: ["/bin/sh", "-c", "php artisan migrate && php artisan db:seed"]