apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
        - name: db
          image: {{ .Values.db.image }}
          env:
            - name: MYSQL_DATABASE
              value: {{ .Values.db.env.MYSQL_DATABASE }}
            - name: MYSQL_USER
              value: {{ .Values.db.env.MYSQL_USER }}
            - name: MYSQL_PASSWORD
              value: {{ .Values.db.env.MYSQL_PASSWORD }}
            - name: MYSQL_ROOT_PASSWORD
              value: {{ .Values.db.env.MYSQL_ROOT_PASSWORD }}
          volumeMounts:
            - name: db-data
              mountPath: /var/lib/mysql
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
      volumes:
        - name: db-data
          persistentVolumeClaim:
            claimName: my-nfs-pvc
